/* Base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/animations.css';

/* Layout */
@import './layout/desktop-layout.css';
@import './layout/mobile-layout.css';
@import './layout/sidebar.css';

/* Components */
@import './components/header.css';
@import './components/navigation.css';
@import './components/story-card.css';
@import './components/buttons.css';
@import './components/wallet.css';
@import './components/modals.css';
@import './components/profile.css';
@import './components/forms.css';
@import './components/reels.css';
@import './components/action-menu.css';

/* Views */
@import './views/home.css';
@import './views/explore.css';
@import './views/create.css';
@import './views/account.css';

/* Utilities */
@import './utilities/scrollbars.css';
@import './utilities/responsive.css';
@import './utilities/helpers.css';
