.sidebar {
  padding: 12px;
  width: 300px;
  background: linear-gradient(180deg, #000000 0%, #0e0e0e 100%);
  margin-left: 5%;
  margin-top: 60px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  /* border-radius: 16px; */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav {
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-top: 2%;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #a3a3a3;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 8%;
  width: 90%;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #4444445b;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sidebar-btn span {
  font-size: 16px;
  opacity: 0.9;
  margin-left: 12px;
}

.sidebar-btn:hover {
  background: rgba(132, 204, 22, 0.1);
  color: #84cc16;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(132, 204, 22, 0.3);
}

.sidebar-btn.active {
  background: rgba(132, 204, 22, 0.15);
  color: #84cc16;
  border-color: rgba(132, 204, 22, 0.3);
  box-shadow: 0 4px 12px rgba(132, 204, 22, 0.25);
}

.sidebar-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}

.social-quicklinks {
  display: flex;
  margin: 0;
  padding: 8px;
  font-size: 20px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #84cc16;
  border: 1px solid #84cc16;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px #84cc16;
  transition: all 0.2s ease;
}

.social-quicklinks:hover {
  transform: scale(1.1) translateY(-2px);
  box-shadow: 0 0 12px #84cc16;
}
